*{
    padding: 0;
    margin: 0;
    box-sizing: border-boX;
    font-family: san-serif;
    
  }
   
  body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center

      
  }
  .title-container{
    font-size: 24px
  }
  .container {
    width: 80%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center;
    background: pink;
    border-radius: 15px;
    
  }
  
  .form-box input {
      margin: 5px 0; /* Espaço entre os campos */
      padding: 8px;
      border: none;
      border-radius: 10px;
      box-shadow: 1px 1px 6px #0000001c;
      width: 80%; /* Largura dos campos de entrada */
  }
  
  /* Estiliza o botão */
  .form-box button {
      width: 80%; /* Largura igual à dos campos de entrada */
      padding: 8px;
      margin: 3px 0;
      background-color: #c846da;
      color: #fff;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      cursor: pointer;
  }
  /* Estiliza as mensagens de notificação */
  .notification {
      margin-top: 10px;
      padding: 5px;
      border-radius: 9px;
      font-size: 18px;
      width: 150vh
  }
  
  /* Estiliza o link para a página de login */
  .notification a {
      color: #c846da;
      ;
  }